*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}


body{
    background: linear-gradient(135deg, #130547 0%, #000 100%);
    width: 100%;
    
}

header nav img{
    width: 80px;
    height: 80px;
}

header nav ul li a{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: #00000065 0px 2px;

}

header nav ul li{
    margin-top: 15px;
    padding-left: 90px;
    display: inline-block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

header nav ul li:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: scale(1.2);
}



header nav ul li a:hover{
    color: #0083CC;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border-bottom: #0083CC solid 4px;

}

nav{
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.infos{
    margin-top: 120px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    display: block;
    float: left;
}



.infos h1{
    font-size: 70px;
    color: #0083CC;
    text-shadow: #00000065 0px 6px 6px;

}

.infos h3{
    font-size: 50px;
    color: white;
    margin-bottom: -20px;
    text-shadow: #00000065 0px 6px 6px;
}

.infos h4{
    font-size: 30px;
    color: white;
    text-shadow: #00000065 0px 6px 6px;
    margin-top: -10px;
}

.section1{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#foto_perfil{
    width: 355px;
    height: 355px;
    margin-top: 75px;
    border-radius: 50%;
    box-shadow: #264DE4 8px 10px 10px;
}

.midias{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    margin-right: 80px;
}



#insta{
    text-align: center;
    width: 39px;
    height: 39px;
    border: 3px white solid;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

}

#insta:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    text-align: center;
    width: 39px;
    height: 39px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    border: 3px #d6249f solid;
    border-radius: 50%;
    transform: scale(1.3);

}

#linkedin{
    text-align: center;
    width: 39px;
    height: 39px;
    border: 3px white solid;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

}

#linkedin:hover{
    background-color: #0083CC;
    text-align: center;
    width: 39px;
    height: 39px;
    border: 3px #0083CC solid;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transform: scale(1.3);

}

#git{
    text-align: center;
    width: 39px;
    height: 39px;
    border: 3px white solid;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

}

#git:hover{
    background-color: black;
    text-align: center;
    width: 39px;
    height: 39px;
    border: 3px black solid;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    transform: scale(1.3);
}



#section2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row-reverse;
}


#section2 h2{
    font-family: "poppins";
    color: #0083CC;
    font-size: 55px;
    text-shadow: #00000065 0px 6px 6px;
    border-bottom: #0083CC 3px solid;
    width: 28vw;
    text-align: start;

}



#texto p{
    padding-top: 15px;
    font-size: 25px;
    color: white;
    text-shadow: #00000065 0px 6px 6px;
    width: 44vw;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





#section2 img{
    display: flex;
    width: 360px;
    height: 450px;
    margin-top: 30px;
    border-radius: 6px 6px 6px 6px;
}


.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.container p{
    color: #FFF;
    text-shadow: #00000065 0px 6px 6px;
    font-family: "Poppins";
    font-size: 18px;

}

.container h5{
    color: #264DE4;
    text-shadow: #00000065 0px 6px 6px;
    font-family: "Poppins";
    font-size: 16px;
    padding-left: 50px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.circulo, .circulo2, .circulo3, .circulo4, .circulo5{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.circulo4 h5 a:hover{
    color: #0083CC;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border-bottom: #0083CC solid 4px;
}

.circulo3 h5 a:hover{
    color:#0083CC;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border-bottom: #0083CC solid 4px;

}

.circulo4 h5:hover{

    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: scale(1.4);
}

.circulo3 h5:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    transform: scale(1.4);
}


#section3{
    margin-top: 60px;
    margin-bottom: 150px;
}

#container2{
    display: flex;
    flex-wrap: wrap;
}

#section3 h1{
    padding-top: 20px;
    color: #0083CC;
    font-family: "poppins";
    font-size: 55px;
    text-shadow: #00000065 0px 6px 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#section3 h3{
    color: white;
    font-family: "poppins";
    font-size: 35px;
    text-shadow: #00000065 0px 6px 6px;
    text-align: center;

}

.borda img{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;

}

.borda2{
    border: 8px #E44D26 dashed;
    border-radius: 50%;
    width: 90px;
}

.borda3{
    border: 8px #264DE4 dashed;
    border-radius: 50%;
    width: 90px;
}

.borda4{
    border: 8px #00758F dashed;
    border-radius: 50%;
    width: 90px;
}


.borda{
    margin-top: 40px;
    text-align: center;

}

.borda h2{
    color: white;
    font-family: "poppins";
    font-size: 25px;
    margin-top: 14px;
    text-shadow: #00000065 0px 6px 6px;
    text-align: center;
}

.container_skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section4 h3{
    color: white;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
    font-family: "poppins";
}

#section4{
    width: 100%;
    margin-bottom: 100px;
    text-shadow: black 0px 2px;

}

#section4 img{
    width: 625px;
    height: 301px;
    border-radius: 6px;
}

.textos{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "poppins";
    margin-left: 30px;
}

.container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textos h1{
    font-size: 50px;
    text-shadow: black 0px 2px;

}

.textos{

    display: flex;
    flex-direction: column;
    text-align: start;
}

.textos p:nth-child(2){
    width: 512px;
    text-shadow: black 0px 2px;

}

.git1 p, .git2 p{
    padding-right: 10px;
    color: #264DE4;
    font-family: "poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: black 0px 2px;

}

.git1, .git2{
    display: flex;
    padding-top: 10px;
}

.git1 h5, .git2 h5{
    color: #0083CC;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-shadow: black 0px 2px;

}

.git1 h5:hover, .git2 h5:hover{
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    color: #064699;
}

.canva{
    border: 8px #6A31EF dashed;
    border-radius: 50%;
    width: 90px;
}

.canva img{
    border-radius: 50%;
}

.figma{
    border: 8px #0ACF83 dashed;
    border-radius: 50%;
    width: 90px;
}

.gimp{
    border: 8px #343434 dashed;
    border-radius: 50%;
    width: 90px;
}

#section5{
    margin-bottom: 150px;
}

#section5 h1{
    padding-top: 20px;
    color: #0083CC;
    font-family: "poppins";
    font-size: 55px;
    text-shadow: #00000065 0px 6px 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

#section5 h3{
    color: white;
    font-family: "poppins";
    font-size: 35px;
    text-shadow: #00000065 0px 6px 6px;
    text-align: center;

}

#section6 h1{
    color: white;
    font-family: "poppins";
    font-size: 55px;
    text-shadow: #00000065 0px 6px 6px;
    text-align: center;
}

.container_imgs{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_imgs img{
    width: 308px;
    height: 301px;
    border-radius: 8px;
}

.container_imgs img{
    width: 308px;
    height: 301px;
    border-radius: 8px;
}

.container_imgs img{
    width: 308px;
    height: 301px;
    border-radius: 8px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}


.wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.wrap1 p{
    width: 297px;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
    .wrap1 img:hover{
        transform: scale(1.2);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: #064699 5px 5px 5px;
    }

    .container_imgs:nth-child(5){
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
 
    }
    
/* Responsividade para dispositivos moveis */

@media  (max-width: 600px) {

    *{
        margin: 0;
    }

   nav img{
        display: none;
   }

    header nav ul li{
        display: block;
        padding: 0;
    }

    header nav ul li a:hover{
        color: #0083CC;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        border-bottom: #0083CC solid 4px;
    }
    
    nav{
        height: 62px;
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
    }

    .infos{
        margin-top: 120px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        display: block;
    }
    
    
    
    .infos h1{
        font-size: 40px;
        color: #0083CC;
        text-shadow: #00000065 0px 6px 6px;
        text-align: center;
        width: 0 auto;
    }
    
    .infos h3{
        font-size: 35px;
        color: white;
        margin-bottom: -20px;
        text-shadow: #00000065 0px 6px 6px;
        text-align: center;
        width: 0 auto;

    }
    
    .infos h4{
        font-size: 20px;
        color: white;
        text-shadow: #00000065 0px 6px 6px;
        margin-top: -10px;
        text-align: center;
        width: 0 auto;

    }
    
    .section1{
        margin-bottom: 120px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #foto_perfil{
        width: 255px;
        height: 255px;
        margin-top: 75px;
        border-radius: 50%;
        box-shadow: #264DE4 8px 10px 10px;
    }
    
    .midias{
        padding-top: 15px;
        display: flex;
        text-align: center;
        margin: 0;
    }

    #section2{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    
    #section2 h2{
        font-family: "poppins";
        color: #0083CC;
        text-shadow: #00000065 0px 6px 6px;
        border-bottom: #0083CC 3px solid;
        font-size: 45px;
        width: 258px;
        margin: 0 auto;
        
    }
    

    
    #texto p{
        font-size: 20px;
        color: white;
        text-shadow: #00000065 0px 6px 6px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 294px;
        margin: 0 auto;
        text-align: center;

    }

    .circulo, .circulo2, .circulo3, .circulo4, .circulo5{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
       text-align: center;
    }
    
   
    .container h5{
        color: #264DE4;
        text-shadow: #00000065 0px 6px 6px;
        font-family: "Poppins";
        padding-left: 0;
    }


      
    .container h5 a{
        font-size: 15px;
    }

    #section2 img{
        width: 259px;
        height: 281px;
        margin-top: 30px;
        border-radius: 6px 6px 6px 6px;

    }
    
    
    .container{
        margin-top: 30px;
        display: flex;
        padding: 0;
        margin: 0;
    }

    .container p{
        color: #FFF;
        text-shadow: #00000065 0px 6px 6px;
        font-family: "Poppins";
        font-size: 20px;
    
    }
    
    .container h5{
            font-size: 20px;
            padding-left: none;
    }

    .container h5 a{
        font-size: 20px;
        padding-left: none;
}

    #section3 h1{
        padding-top: 20px;
        color: #0083CC;
        font-family: "poppins";
        font-size: 40px;
        text-shadow: #00000065 0px 6px 6px;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
    
    #section3 h3{
        color: white;
        font-family: "poppins";
        font-size: 25px;
        text-shadow: #00000065 0px 6px 6px;
        text-align: center;
        margin: auto;
    }
    
    .borda img{
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 8px;
        width: 45px;
        height: 45px;
    }
    
    .borda2{
        border: 8px #E44D26 dashed;
        border-radius: 50%;
        width: 70px;
    }
    
    .borda3{
        border: 8px #264DE4 dashed;
        border-radius: 50%;
        width: 70px;
    }
    
    .borda4{
        border: 8px #00758F dashed;
        border-radius: 50%;
        width: 70px;
    }
    

    .canva{
        
        width: 70px;
    }
    
    .figma{
        
        width: 70px;
    }
    
    .gimp{
        
        width: 70px;
    }
    
    .borda{
        margin-top: 40px;
        text-align: center;
    
    }
    
    .borda h2{
        color: white;
        font-family: "poppins";
        font-size: 28px;
        margin-top: 14px;
        text-shadow: #00000065 0px 6px 6px;
        text-align: center;
    }
    
    .container_skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section4 h3{
        font-size: 55px;

    }
    
    #section4{
        width: 100%;
        margin-bottom: 100px;
    }
    
    #section4 img{
        width: 270px;
        height: 270px;
        border-radius: 6px;
    }
    
    .textos{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "poppins";
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    
    .container3{
        display: flex;
        flex-wrap: none;
        justify-content: center;
        flex-direction: none;
    }
    
    .textos h1{
        font-size: 30px;
    }

    
    .textos p:nth-child(2){
        width: 307px;

    }
    
    .git1 p, .git2 p{
        color: #264DE4;
        font-family: "poppins";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .git1, .git2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    
    .git1 h5, .git2 h5{
        color: #0083CC;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    .git1 h5:hover, .git2 h5:hover{
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
        color: #064699;
    }
    
    #section5 h1{
        font-size: 45px;
    }
}

